<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.tariff.mapper.FMeterRecordMapper">

    <select id="getListMeterRecord" resultType="com.estate.sdzy.tariff.entity.FMeterRecord">
        select
        r.id,r.comp_id,r.comm_id,r.meter_id,r.property_type,r.property_id,r.type,r.oper_type,r.new_num,
        r.remark,r.created_at,r.created_name,r.modified_at,
        r.modified_name,comp.name as compName,comm.name as commName,m.propertyName ,m.no,m.name
        from
        f_meter_record r,s_company comp,r_community comm,v_f_meter m
        <if test="userId!=''and userId!=null">
            ,s_user_comm u
        </if>
        where r.comp_id=comp.id and r.comm_id=comm.id and r.meter_id=m.id
        <if test="compId!=''and compId!=null">
            and r.comp_id = #{compId}
        </if>
        <if test="commId!=''and commId!=null">
            and r.comm_id = #{commId}
        </if>
        <if test="propertyType!=''and propertyType!=null">
            and r.property_type = #{propertyType}
        </if>
        <if test="propertyName!=''and propertyName!=null">
            and m.propertyName like CONCAT('%',#{propertyName},'%')
        </if>
        <if test="type!=''and type!=null">
            and r.type = #{type}
        </if>
        <if test="no!=''and no!=null">
            and r.no like CONCAT('%',#{no},'%')
        </if>
        <if test="modifiedAtBegin!=''and modifiedAtBegin!=null and modifiedAtEnd!=''and modifiedAtEnd!=null">
            and r.modified_at between #{modifiedAtBegin} and #{modifiedAtEnd}
        </if>
        <if test="userId!=''and userId!=null">
            and u.user_id=#{userId} and r.comm_id=u.comm_id
        </if>
        <if test="pageNo!=null and size!=null">
            limit #{pageNo},#{size}
        </if>
    </select>

    <select id="getListMeterRecordNum" resultType="java.lang.Integer">
        select
        count(r.id)
        from
        f_meter_record r,s_company comp,r_community comm,v_f_meter m
        <if test="userId!=''and userId!=null">
            ,s_user_comm u
        </if>
        where r.comp_id=comp.id and r.comm_id=comm.id and r.meter_id=m.id
        <if test="compId!=''and compId!=null">
            and r.comp_id = #{compId}
        </if>
        <if test="commId!=''and commId!=null">
            and r.comm_id = #{commId}
        </if>
        <if test="propertyType!=''and propertyType!=null">
            and r.property_type = #{propertyType}
        </if>
        <if test="propertyName!=''and propertyName!=null">
            and m.propertyName like CONCAT('%',#{propertyName},'%')
        </if>
        <if test="type!=''and type!=null">
            and r.type = #{type}
        </if>
        <if test="no!=''and no!=null">
            and r.no like CONCAT('%',#{no},'%')
        </if>
        <if test="modifiedAtBegin!=''and modifiedAtBegin!=null and modifiedAtEnd!=''and modifiedAtEnd!=null">
            and r.modified_at between #{modifiedAtBegin} and #{modifiedAtEnd}
        </if>
        <if test="userId!=''and userId!=null">
            and u.user_id=#{userId} and r.comm_id=u.comm_id
        </if>
    </select>

</mapper>
