<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.tariff.mapper.FMeterMapper">

    <select id="getListMeter" resultType="com.estate.sdzy.tariff.entity.FMeter">
        SELECT m.propertyName,
        m.id,m.property_type,m.property_id,m.compName,m.commName,m.commAreaName,m.type,m.no,m.name,
        m.state,m.remark,m.created_at,m.created_name,m.modified_at,m.modified_name,m.new_num,
        m.meter_read_time,m.bill_num,m.bill_date
        FROM
        v_f_meter m
        <if test="userId!=''and userId!=null">
            ,s_user_comm u
        </if>
        where 1=1
        <if test="compId!=''and compId!=null">
            and m.comp_id = #{compId}
        </if>
        <if test="commId!=''and commId!=null">
            and m.comm_id = #{commId}
        </if>
        <if test="commAreaId!=''and commAreaId!=null">
            and m.comm_area_id = #{commAreaId}
        </if>
        <if test="propertyType!=''and propertyType!=null">
            and m.property_type = #{propertyType}
        </if>
        <if test="propertyName!=''and propertyName!=null">
            and m.propertyName like CONCAT('%',#{propertyName},'%')
        </if>
        <if test="type!=''and type!=null">
            and m.type = #{type}
        </if>
        <if test="no!=''and no!=null">
            and m.no like CONCAT('%',#{no},'%')
        </if>
        <if test="userId!=''and userId!=null">
            and u.user_id=#{userId} and m.comm_id=u.comm_id
        </if>
        <if test="pageNo!=null and size!=null">
            limit #{pageNo},#{size}
        </if>
    </select>

    <select id="getListMeterNum" resultType="java.lang.Integer">
        SELECT count(m.id)
        FROM
        v_f_meter m
        <if test="userId!=''and userId!=null">
            ,s_user_comm u
        </if>
        where 1=1
        <if test="compId!=''and compId!=null">
            and m.comp_id = #{compId}
        </if>
        <if test="commId!=''and commId!=null">
            and m.comm_id = #{commId}
        </if>
        <if test="commAreaId!=''and commAreaId!=null">
            and m.comm_area_id = #{commAreaId}
        </if>
        <if test="propertyType!=''and propertyType!=null">
            and m.property_type = #{propertyType}
        </if>
        <if test="propertyName!=''and propertyName!=null">
            and m.propertyName like CONCAT('%',#{propertyName},'%')
        </if>
        <if test="type!=''and type!=null">
            and m.type = #{type}
        </if>
        <if test="no!=''and no!=null">
            and m.no like CONCAT('%',#{no},'%')
        </if>
        <if test="userId!=''and userId!=null">
            and u.user_id=#{userId} and m.comm_id=u.comm_id
        </if>
    </select>

    <update id="updateMeter">
        update f_meter set state=#{state},remark=#{remark},modified_at=CURRENT_TIME,modified_by=#{userId},modified_name=#{userName} where id=#{id}
    </update>

    <select id="getMeterByNo" resultType="java.lang.Long">
        select id from f_meter where is_delete='0' and no=#{no} and comm_id=#{commId}
    </select>
</mapper>
