<!DOCTYPE html>
<html>
<head>
<title>修改登录账号</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body  style="background:#fff;">
<form>
<div class="wrapper"> 
    <div class="head">
    	<div class="head_tb">
            <i class="fa"><a href="install.html" class="g3"></a></i>
            <h1>修改登录账号</h1>
        
        </div>
    </div>

    <div class="index_nr">
    	
       <div class="Account">
       		<span><input type="text" value="请输入身份证号"></span>
            <span><input type="text" value="请输入新手机号"></span>
            <span><input type="text" value="请输入验证码" style="width:60%;"><a>获取验证码</a></span>
            <div class="feedback">
            	<botton style=" background:#3392fb;">完 成</botton>
        	</div>
       </div>
       
    </div>
    

   
   
   
   
   
    <div class="bottom">
         <a href="index.html">
            <i class="icon icon_f1"></i>
            首页
         </a>
         <a href="bill.html">
            <i class="icon icon_f2"></i>
            联盟
         </a>
         <a href="income.html">
            <i class="icon icon_f3"></i>
            收益
         </a>
         <a>
            <i class="icon icon_f4"></i>
            我的
         </a>
    </div>

</div>
</form>
</body>
</html>
