<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>众鑫玩卡</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" media="all" />

</head>

<body style="background:#fff;">
<form>
<div class="wrapper"> 
    <div class="head">
    	<div class="head_tb">
            <i class="fa"><a href="#" class="g3" style="background-position: -66px -138px;"></a></i>
            <h1>众鑫玩卡</h1>
        	<i class="fi">
                <a class="g1" style="background-position: -68px -168px;"></a>
                <a class="g2" style="background-position:-105px -168px;"></a>
            </i>
        </div>
    </div>

    <div class="index_nr">
    	
        <div class="card">
        	<div class="card_a">
            	<span>网贷口子</span>
                <span>信用卡</span>
            </div>
 
            <ul>
            	<div class="bisoti">民生国宝系列信用卡：又一即将热炒的破处卡<br>钟 不是红旗卡哦！！</div>
                <li><img src="images/naws1.png"></li>
                <li><img src="images/naws2.png"></li>
                <li><img src="images/naws3.png"></li>
                <div class="fidu">
                	<span>54分钟前</span>
                    <span>小玲</span>
                    <span style="float:right; margin-right:0px;">2913 阅读</span>
                </div>
            </ul>
            
           <ul>
                <li><img src="images/news4.png"></li>
                <div class="bisoti">民生国宝系列信用卡：又一即将热炒的破处卡钟 不是红旗卡哦！！</div>
                <div class="fidu">
                	<span>54分钟前</span>
                    <span>小玲</span>
                    <span style="float:right; margin-right:0px;">2913 阅读</span>
                </div>
            </ul>
            <ul>
                <li><img src="images/news5.png"></li>
                <div class="bisoti">民生国宝系列信用卡：又一即将热炒的破处卡钟 不是红旗卡哦！！</div>
                <div class="fidu">
                	<span>54分钟前</span>
                    <span>小玲</span>
                    <span style="float:right; margin-right:0px;">2913 阅读</span>
                </div>
            </ul>
            
            <ul>
            	<div class="bisoti">民生国宝系列信用卡：又一即将热炒的破处卡<br>钟 不是红旗卡哦！！</div>
                <li><img src="images/news7.png"></li>
                <li><img src="images/news8.png"></li>
                <li><img src="images/news9.png"></li>
                <div class="fidu">
                	<span>54分钟前</span>
                    <span>小玲</span>
                    <span style="float:right; margin-right:0px;">2913 阅读</span>
                </div>
            </ul>
            
        </div>
       
    </div>







    <div class="bottom">
        <a href="/weChat/page/index">
            <i class="icon icon_f1"></i>
            首页
        </a>

        <a href="/weChat/page/alliance">
            <i class="icon icon_f2"></i>
            账单
        </a>

        <a href="/weChat/page/Mine">
            <i class="icon icon_f4"></i>
            预存
        </a>

        <a href="/weChat/page/income">
            <i class="icon icon_f3"></i>
            缴费
        </a>
    </div>

</div>
</form>
</body>
</html>
