<!DOCTYPE html>
<html>
<head>
<title>修改结算信息</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body>
<form>
<div class="wrapper"> 
    <div class="head">
    	<div class="head_tb">
            <i class="fa"><a href="install.html" class="g3"></a></i>
            <h1>修改结算信息</h1>
        
        </div>
    </div>

    <div class="index_nr">
    	
       <div class="information">
       		<div class="info">修改结算卡信息：当月修改，次月一日生效。</div>
            <div class="info_input">
            	<ul>
                	<li>
                    	结算账号
                        <input type="text" value="75445****4566" readonly="true">
                        <span>已生效</span>
                    </li>
                    <div class="aci">结算银行</div>
                    
                    <li>中国工商银行</li>
                    
                    <div class="aci">所在省市</div>
                    
                    <li>广西壮族自治区南宁市</li>
                    
                    <div class="aci">结算开户银行</div>
                    
                    <li>中国工商银行股份有限公司南宁公园支行</li>
                    
                    <li style="margin-top:2rem;">
                    	<input type="text" value="请输入短信验证码" style=" color:#666;">
                        <a>发送至登录手机号</a>
                    </li>
                </ul>
            </div>
       </div>
       
    </div>
    

   
   
   
   
   
    <div class="bottom">
         <botton style=" display:block;background:#035afc; width:100%; text-align:center; height:50px; line-height:50px; color:#fff; font-size:1.2rem;">提 交</botton>
    </div>

</div>
</form>
</body>
</html>
