<!DOCTYPE html>
<html>
<head>
<title>设置</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body  style="background:#fff;">
<form>
<div class="wrapper"> 
    <div class="head">
    	<div class="head_tb">
            <i class="fa"><a href="Mine.html" class="g3"></a></i>
            <h1>设置</h1>
        
        </div>
    </div>

    <div class="index_nr">
    	
       <div class="install">
       		<h3>隐私</h3>
       		<ul>
            	<a href="Account.html"><li>修改登录账号</li></a>
                <a href="information.html"><li>修改结算信息</li></a>
                <a href="Password.html"><li>密码设置</li></a>
            </ul>
            <h3>其他</h3>
            <ul>
            	<li>收货地址管理</li>
            </ul>
            <h3>帮助</h3>
            <ul>
            	<li>联系我们</li>
                <li>检查更新</li>
                <li>关于我们</li>
            </ul>
       </div>
       
    </div>
    

   
   
   
   
   
    <div class="bottom">
         <a href="index.html">
            <i class="icon icon_f1"></i>
            首页
         </a>
         <a href="bill.html">
            <i class="icon icon_f2"></i>
            联盟
         </a>
         <a href="income.html">
            <i class="icon icon_f3"></i>
            收益
         </a>
         <a>
            <i class="icon icon_f4"></i>
            我的
         </a>
    </div>

</div>
</form>
</body>
</html>
