<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>邀请盟友</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" media="all" />

</head>

<body style="background:#f4f4f4;">
<form>
<div class="wrapper"> 
    <div class="head">
    	<div class="head_tb">
            <i class="fa"><a href="index.html" class="g3"></a></i>
            <h1>邀请盟友</h1>
        
        </div>
    </div>

    <div class="index_nr">
    	
       	<div class="invite">
        	<img src="images/in_yq2.png">
        </div>
      	
        <div class="inv_erwm">
        	<h5>扫一扫下面的二维码，加入鑫联盟</h5>
            <p>
            	<img src="images/in_yq3.png">
            </p>
            <ul>
            	<li>
                	推荐码
                    <span>M1782255</span>
                </li>
                <li>
                	推荐人
                    <span>阿宝</span>
                </li>
                <li style="border-bottom:none;">
                	手机号
                    <span>18366695410</span>
                </li>
            </ul>
        </div>
        
    </div>







    <div class="bottom">
        <a href="/weChat/page/index">
            <i class="icon icon_f1"></i>
            首页
        </a>

        <a href="/weChat/page/alliance">
            <i class="icon icon_f2"></i>
            账单
        </a>

        <a href="/weChat/page/Mine">
            <i class="icon icon_f4"></i>
            预存
        </a>

        <a href="/weChat/page/income">
            <i class="icon icon_f3"></i>
            缴费
        </a>
    </div>

</div>
</form>
</body>
</html>
