<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />

</head>

<style>
	.feedback a{ font-size:.5rem; line-height:26px; color:#0968d2;}
</style>

<body style="background:#fff;">
<form>
<div class="wrapper"> 

    <div class="login">
    	<div class="log_list">登录新联盟</div>
        <ul>
        	<li>
            	账号
                <input type="text" value="请输入手机号">
            </li>
            <li style="margin-top:10px;">
            	密码
                <input type="text" value="请输入密码">
                <i></i>
            </li>
            <div class="feedback">
            	<botton style=" background:#3392fb; width:100%;">登 录</botton>
                <a href="Re_password.html">忘记密码</a>
                <a href="register.html" style="float:right;">注册新用户</a>
        	</div>
        </ul>
    </div>
    
</div>
</form>
</body>
</html>
