<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />

</head>

<style>
	.feedback a{ font-size:.5rem; line-height:26px; color:#0968d2;}
</style>

<body style="background:#fff;">
<form>
<div class="wrapper"> 
	<div class="head">
    	<div class="head_tb">
            <i class="fa"><a href="login.html" class="g3"></a></i>
            <h1>找回密码</h1>
        
        </div>
    </div>
	<div class="index_nr">
        <div class="login">
            <div class="log_list">找回密码</div>
            <ul>
                <li>
                    <span style="border-right:solid 1px #dadada; padding-right:15px">+86</span>
                    <input type="text" value="请输入手机号">
                </li>
                <li style="margin-top:10px;">
                    验证码
                    <input type="text" value="">
                </li>
                <div class="feedback">
                    <botton style=" background:#3392fb; width:100%;">下一步</botton>
                </div>
            </ul>
        </div>
    </div>
</div>
</form>
</body>
</html>
