<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />

</head>

<style>
	.feedback a{ font-size:.5rem; line-height:26px; color:#0968d2;}
</style>

<body style="background:#fff;">
<form>
<div class="wrapper"> 
	<div class="head">
    	<div class="head_tb">
            <i class="fa"><a href="login.html" class="g3"></a></i>
            <h1>注册</h1>
        
        </div>
    </div>
	<div class="index_nr">
        <div class="login">
            <ul>
                <li style="margin-top:10px;">
                    推荐码
                    <input type="text" value="请输入推荐码">
                </li>
                <div class="feedback">
                    <botton style=" background:#3392fb; width:100%;">下一步</botton>
                    <span style="font-size:.8rem; padding:5px 0px; display:block;">注册即代表同意 <a>鑫联盟盟友合作协议</a>和<a>鑫联盟营销规范</a></span>
                </div>
            </ul>
        </div>
    </div>
</div>
</form>
</body>
</html>
