<!DOCTYPE html>
<html>
<head>
<title>联系客服</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body scroll="no">
<form>
<div class="wrapper"> 
    <div class="head">
    	<div class="head_tb">
            <i class="fa"><a href="index.html" class="g3"></a></i>
            <h1>联系客服</h1>
        
        </div>
    </div>

    <div class="index_nr">
       	<div class="query"  style="width=device-width; overflow-x:auto;" >
        	<ul style=" margin-bottom: 0px; margin-top: 0px; min-width:430px;">
            	<li style="background-color:#6731d4;">
 					活动奖励<br>查询
                    <div class="i">
                    	
                    </div>
                </li>
                <li style="background-image:url(images/lih2.png);">
 					活动奖励<br>查询
                    <div class="i">
                    	
                    </div>
                </li>
                <li style="background-image:url(images/lih3.png);">
 					活动奖励<br>查询
                    <div class="i">
                    	
                    </div>
                </li>
            </ul>
        </div>
        
        
        <div class="servi">
        	<h2>常见问题</h2>
            <div class="se1" style="width=device-width; overflow-x:auto;" >
            	<div class="se2" style=" margin-bottom: 0px; margin-top: 0px; min-width:430px;">
                	<a>收益返</a>
                    <a>商户拓</a>
                    <a>实名认</a>
                    <a>机具申</a>
                    <a>推荐办</a>
                    <a>鑫系列</a>
                    <a>物流信</a>
                </div>
            </div>
            
            <div class="huopqu">
            	<ul>
                	<li>非欢乐送商户的交易是否计入盟友收益？</li>
                    <li>对公账户如何获取收益？</li>
                    <li>非欢乐送商户的交易是否计入盟友收益？</li>
                    <li>对公账户如何获取收益？</li>
                </ul>
            </div>
            
        </div>
        
        
    </div>
    

   
   
   
   
   
    <div class="bottom">
        <botton style=" display:block;background:#035afc; width:100%; text-align:center; height:50px; line-height:50px; color:#fff; font-size:1.2rem;">在线客服</botton>
    </div>

</div>
</form>
</body>
</html>
