<!DOCTYPE html>
<html>
<head>
<title>钱包</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />

</head>

<style>
	.way ul li{ width:30.4%; height:100px;}
</style>

<body scroll="no">
<form>
<div class="wrapper"> 
    <div class="head">
    	<div class="head_tb">
            <i class="fa"><a href="index.html" class="g3"></a></i>
            <h1>钱包</h1>
        
        </div>
    </div>

    <div class="index_nr">
    	
        <div class="select_wallet">
        	<ul>
            	<li>
                	<img src="images/v2.png">
                	<span>卡包</span>
                </li>
                <li>
                	<img src="images/v1.png">
                	<span>优惠卷</span>
                </li>
            </ul>
        </div>
        
        <div class="tisf">
        	<h3>提升等级途径</h3>
            <div class="way">
                <ul>
                    <a href="Outreach.html"><li style="background:url(images/fg3.png)">拓展商户</li></a>
                    <a href="invite.html"><li style="background:url(images/fg4.png)" class="fg2">邀请盟友</li></a>
                    <li style="background:url(images/fg4.png)" class="fg2">申请机具</li>
                </ul>
           </div>
        </div>
        
    </div>
    

   
   
   
   
   
    

</div>
</form>
</body>
</html>
