<!DOCTYPE html>
<html>
<head>
<title>提升小技巧</title>
<meta http-equiv="Content-Type" content="textml; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body style=" background-image:url(images/lvs.jpg); background-repeat:repeat-y; background-size:100% 100%;">
<form>
<div class="wrapper"> 
   <div class="img_duan1"><img src="images/yq_1.png"></div>
   <div class="img_duan2">
   		<ul>
        	<li class="de_1">邓永</li>
            <li>邀请您加入鑫联盟</li>
            <li class="de_2">推荐码：M1754656556</li>
        </ul>
   </div>
   <div class="botton_jiar">
   		<input type="button" value="">
   </div>
   <div class="erwif">
   		<div class="erw_f">
        	<img src="images/in_yq3.png">
        </div>
   </div>
</div>
</form>
</body>
</html>
