<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.asstes.mapper.RBuildingMapper">
    <select id="listBuildMap" resultType="java.util.Map" parameterType="java.lang.Long">
        select id,name,'build' type,'r_comm_area'parenttable,comm_area_id parentid from r_building where comm_area_id = #{id} and is_delete=0
    </select>
    <select id="getListBuilding" resultType="com.estate.sdzy.asstes.entity.RBuilding">
        select r.*,comp.name as compName,comm.name as commName,area.name as commAreaName,d.name as dictName
        from r_building r ,s_company comp,r_community comm,r_comm_area area,s_dict_item d
        <if test="userId!=''and userId!=null">
        ,s_user_comm u
        </if>
         where r.comp_id=comp.id and r.comm_id=comm.id and r.comm_area_id=area.id and r.type=d.id and d.dict_id='10' and r.is_delete='0'
        <if test="name!=''and name!=null">
            and r.name like CONCAT('%',#{name},'%')
        </if>
        <if test="no!=''and no!=null">
            and r.no like CONCAT('%',#{no},'%')
        </if>
        <if test="type!=''and type!=null">
            and r.type = #{type}
        </if>
        <if test="compId!=''and compId!=null">
            and r.comp_id = #{compId}
        </if>
        <if test="commId!=''and commId!=null">
            and r.comm_id = #{commId}
        </if>
        <if test="commAreaId!=''and commAreaId!=null">
            and r.comm_area_id = #{commAreaId}
        </if>
        <if test="userId!=''and userId!=null">
            and u.user_id=#{userId} and r.comm_id=u.comm_id
        </if>
        ORDER BY id DESC
        <if test="pageNo!=null and size!=null">
            limit #{pageNo},#{size}
        </if>
    </select>
    <sql id="aaaa">
        (select @@IDENTITY)+1 as id
    </sql>
    <insert id="insertUnitCopy" useGeneratedKeys="true" >
        insert into r_unit (no,name,comp_id,comm_id,comm_area_id,state,floor_num,model,room_num,remark,
        building_id,modified_at,created_at,created_by,created_name,modified_by,modified_name)
        values
        <foreach collection="rUnits" item="item" index="i" separator=",">
            (#{item.no}, #{item.name}, #{item.compId},#{item.commId},#{item.commAreaId},#{item.state},#{item.floorNum},#{item.model},#{item.roomNum},
            #{item.remark}, #{item.buildingId}, CURRENT_TIME, CURRENT_TIME, #{userId}, #{userName}, #{userId},
            #{userName})
        </foreach>
    </insert>
    <insert id="insertRoomCopy" keyProperty="id">
        insert into r_room (name,room_no,comp_id,comm_id,comm_area_id,unit_id,state,floor,room_model,room_type,property_right_nature,
        direction,renovation_level,title_deed_no,land_deed_no,contract_no,building_area,usable_area,garden_area,usable,remark,created_at,
        created_by,created_name,modified_at,modified_by,modified_name,is_delete,building_id)
        select name,room_no,comp_id,comm_id,comm_area_id,#{newUnitId} as unit_id,state,floor,room_model,room_type,property_right_nature,
        direction,renovation_level,title_deed_no,land_deed_no,contract_no,building_area,usable_area,garden_area,usable,remark,
        CURRENT_TIME as created_at,#{userId} as created_by,#{userName} as created_name,CURRENT_TIME as modified_at,
         #{userId} as modified_by,#{userName} as modified_name,is_delete,#{buildingId} as building_id
         from r_room where unit_id=#{unitId} and is_delete='0'
    </insert>
</mapper>
