<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.asstes.mapper.RBuildingMapper">
    <select id="listBuildMap" resultType="java.util.Map" parameterType="java.lang.Long">
        select id,name,'build' type,'r_comm_area'parenttable,comm_area_id parentid from r_building where comm_area_id = #{id} and is_delete=0
    </select>
    <select id="getListBuilding" resultType="com.estate.sdzy.asstes.entity.RBuilding">
        select r.*,comp.name as compName,comm.name as commName,area.name as commAreaName,d.name as dictName
        from r_building r ,s_company comp,r_community comm,r_comm_area area,s_dict_item d
        <if test="userId!=''and userId!=null">
        ,s_user_comm u
        </if>
         where r.comp_id=comp.id and r.comm_id=comm.id and r.comm_area_id=area.id and r.type=d.id and d.dict_id='10' and r.is_delete='0'
        <if test="name!=''and name!=null">
            and r.name like CONCAT('%',#{name},'%')
        </if>
        <if test="no!=''and no!=null">
            and r.no like CONCAT('%',#{no},'%')
        </if>
        <if test="type!=''and type!=null">
            and r.type = #{type}
        </if>
        <if test="compId!=''and compId!=null">
            and r.comp_id = #{compId}
        </if>
        <if test="commId!=''and commId!=null">
            and r.comm_id = #{commId}
        </if>
        <if test="commAreaId!=''and commAreaId!=null">
            and r.comm_area_id = #{commAreaId}
        </if>
        <if test="userId!=''and userId!=null">
            and u.user_id=#{userId} and r.comm_id=u.comm_id
        </if>
        ORDER BY id DESC
        <if test="pageNo!=null and size!=null">
            limit #{pageNo},#{size}
        </if>
    </select>
</mapper>
