<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.asstes.mapper.RCommRoleAgreementMapper">
    <select id="listCommRoleAgreement" resultType="com.estate.sdzy.asstes.entity.RCommRoleAgreement">
        select aa.id,aa.comm_id,aa.comp_id,aa.role_id,
                aa.no,aa.begin_date,aa.end_date,aa.state,aa.type,aa.remark,
                aa.created_at,aa.created_by,aa.created_name,aa.modified_at,aa.modified_by,aa.modified_name,
                bb.name compName,cc.name commName,dd.name roleName
        from r_comm_role_agreement aa
        left join s_company bb on aa.comp_id = bb.id
        left join r_community cc ON aa.comm_id = cc.ID
        left join s_role dd on aa.role_id = dd.id

        ${ew.customSqlSegment}
    </select>
</mapper>
