<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.asstes.mapper.ROwnerPropertyMapper">
    <select id="ownerProByParkId" resultType="com.estate.sdzy.asstes.entity.ROwner">
        select aa.name,aa.owner_type,aa.owner_addr,aa.tel,aa.e_mail,aa.cert_type,aa.cert_number
        from r_owner aa,r_owner_property bb,r_parking_space cc
        where  aa.id = bb.owner_id and bb.property_id=cc.id
        and cc.id=#{id} and bb.property_type=#{type} and bb.is_delete=#{del} and cc.is_delete=#{del}

    </select>

    <select id="getOwnerProperty" parameterType="java.lang.Long" resultType="com.estate.sdzy.asstes.entity.ROwnerProperty">
        SELECT
            s_company.NAME AS comp_name,
            r_community.NAME AS comm_name,
            r_comm_area.NAME AS comm_area_name,
            r_building.NAME AS buildiing_name,
            r_owner_property.*
        FROM
            r_owner_property
            LEFT JOIN s_company ON r_owner_property.comp_id = s_company.id
            LEFT JOIN r_community ON r_owner_property.comm_id = r_community.id
            LEFT JOIN r_comm_area ON r_owner_property.comm_area_id = r_comm_area.id
            LEFT JOIN r_building ON r_owner_property.buildiing_id = r_building.id
        WHERE
            r_owner_property.is_delete = 0
            and r_owner_property.owner_id = #{ownerId}
    </select>

    <select id="getAllProperty" parameterType="java.util.Map" resultType="com.estate.sdzy.asstes.entity.ROwnerProperty">
        SELECT
            s_company.NAME AS comp_name,
            r_community.NAME AS comm_name,
            r_comm_area.NAME AS comm_area_name,
            r_building.NAME AS building_name,
            r_owner.name as owner_name,
            r_owner.owner_type as owner_type,
            r_owner.owner_addr as owner_addr,
            r_owner.tel,
            r_owner.e_mail as e_mail,
            r_owner.cert_type as cert_type,
            r_owner.cert_number as cert_number,
            r_owner.industry as industry,
            r_owner.sex as sex,
            r_owner.native_place as native_place,
            r_owner.education as education,
            r_owner.link_name as link_name,
            r_owner.link_tel as link_tel,
            r_owner.link_addr as link_addr,
            r_owner_property.*
        FROM
            r_owner_property
        LEFT JOIN r_owner on r_owner_property.owner_id = r_owner.id
        LEFT JOIN s_company ON r_owner_property.comp_id = s_company.id
        LEFT JOIN r_community ON r_owner_property.comm_id = r_community.id
        LEFT JOIN r_comm_area ON r_owner_property.comm_area_id = r_comm_area.id
        LEFT JOIN r_building ON r_owner_property.building_id = r_building.id
        WHERE
            r_owner_property.is_delete = 0
            <if test="compId!=null and compId !=''">
                and r_owner_property.comp_id = #{compId}
            </if>
            <if test="commId!=null and commId !=''">
                and  r_owner_property.comm_id = #{commId}
            </if>
            <if test="ownerType!=null and ownerType !=''">
                and r_owner.owner_type = #{ownerType}
            </if>
            <if test="ownerName!=null and ownerName !=''">
                and  r_owner.name like '%${ownerName}%'
            </if>
            <if test="certNumber!=null and certNumber !=''">
                and  r_owner.cert_number = #{certNumber}
            </if>
            <if test="propertyType!=null and propertyType !=''">
                and  r_owner_property.property_type = #{propertyType}
            </if>
            <if test="propertyId!=null and propertyId !=''">
                and  r_owner_property.property_id = #{propertyId}
            </if>
            <if test="pageNo!=null and size!=null">
                LIMIT #{pageNo},#{size}
            </if>
    </select>

    <select id="getPageTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
            count(r_owner_property.id)
        FROM
            r_owner_property
        LEFT JOIN r_owner on r_owner_property.owner_id = r_owner.id
        WHERE
        r_owner_property.is_delete = 0
        <if test="compId!=null and compId !=''">
            and r_owner_property.comp_id = #{compId}
        </if>
        <if test="commId!=null and commId !=''">
            and  r_owner_property.comm_id = #{commId}
        </if>
        <if test="ownerType!=null and ownerType !=''">
            and r_owner.owner_type = #{ownerType}
        </if>
        <if test="ownerName!=null and ownerName !=''">
            and  r_owner.name like '%${ownerName}%'
        </if>
        <if test="certNumber!=null and certNumber !=''">
            and  r_owner.cert_number = #{certNumber}
        </if>
        <if test="propertyType!=null and propertyType !=''">
            and  r_owner_property.property_type = #{propertyType}
        </if>
        <if test="propertyId!=null and propertyId !=''">
            and  r_owner_property.property_id = #{propertyId}
        </if>
    </select>
</mapper>
