<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.asstes.mapper.RParkingSpaceMapper">

    <select id="listPark" resultType="com.estate.sdzy.asstes.entity.RParkingSpace" >
        select aa.*,bb.name compName,cc.name commName,dd.name areaName from r_parking_space aa,s_company bb,r_community cc,r_comm_area dd
         ${ew.customSqlSegment}
        and aa.comp_id = bb.id and aa.comm_id = cc.id and aa.comm_area_id = dd.id
    </select>

    <select id="getCommIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from r_community where name=#{name} and is_delete = 0
    </select>
    <select id="getCompIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from s_company where name=#{name} and is_delete = 0
    </select>
    <select id="getAreaIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from r_comm_area where name=#{name} and is_delete = 0
    </select>
    <select id="getBuildingByName"  resultType="com.estate.sdzy.asstes.entity.RBuilding">
        select id,name from r_building where name=#{name} and is_delete = 0 and comm_area_id=#{commAreaId}
    </select>
    <select id="getUnitByName"  resultType="com.estate.sdzy.asstes.entity.RUnit">
        select id,name from r_unit where name=#{name} and is_delete = 0 and building_id=#{buildingId}
    </select>

    <select id="getBuildingByBuildingNo"  resultType="java.lang.Long">
        select id from r_building where no=#{buildingNo} and is_delete = 0 and comm_area_id=#{commAreaId}
    </select>
    <select id="getUnitByUnitNo"  resultType="java.lang.Long">
        select id from r_unit where no=#{unitNo} and is_delete = 0 and building_id=#{buildingId}
    </select>
    <select id="getRoomByRoomNo"  resultType="java.lang.Long">
        select id from r_room where room_no=#{roomNo} and is_delete = 0 and unit_id=#{unitId}
    </select>
    <select id="getParkingByParkingNo"  resultType="java.lang.Long">
        select id from r_parking_space where no=#{parkingNo} and is_delete = 0 and comm_area_id=#{commAreaId}
    </select>

    <select id="getOwnerId"  resultType="java.lang.Long">
        select id from r_owner where is_delete=0 and owner_type=#{ownerType} and cert_type=#{certType} and cert_number=#{certNumber}
    </select>
</mapper>
