<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.asstes.mapper.RParkingSpaceMapper">

    <select id="listPark" resultType="com.estate.sdzy.asstes.entity.RParkingSpace" >
        select aa.*,bb.name compName,cc.name commName,dd.name areaName from r_parking_space aa
        left join s_company bb on aa.comp_id = bb.id
        left join r_community cc on aa.comm_id = cc.id
        left join r_comm_area dd on aa.comm_area_id = dd.id

         ${ew.customSqlSegment}
    </select>

    <select id="getCommIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from r_community where name=#{name} and is_delete = 0
    </select>
    <select id="getCompIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from s_company where name=#{name} and is_delete = 0
    </select>
    <select id="getAreaIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from r_comm_area where name=#{name} and is_delete = 0
    </select>
    <select id="getBuildingIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from r_building where name=#{name} and is_delete = 0
    </select>
    <select id="getUnitIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from r_unit where name=#{name} and is_delete = 0
    </select>
</mapper>
