<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.asstes.mapper.RRoomMapper">
    <select id="listRoomMap" resultType="java.util.Map" parameterType="java.lang.Long">
        select id,room_no name,'room'type,'r_unit'parenttable,unit_id parentid from r_room where unit_id=#{id} and is_delete = 0
    </select>
    <select id="getListRoom" resultType="com.estate.sdzy.asstes.entity.RRoom">
        select r.id,comp.name as compName,comm.name as commName,a.name as commAreaName,b.name as buildingName,u.name as unitName,
        r.comp_id,r.comm_id,r.comm_area_id,r.building_id,
        u.floor_num as floorNum,m.elevator_num as elevatorNum,m.room_num as roomNum,r.name,r.room_no,r.state,r.floor,r.room_model,
        r.room_type,r.property_right_nature,r.direction,r.renovation_level,r.title_deed_no,r.land_deed_no,r.contract_no,r.building_area,
        r.usable_area,r.garden_area,r.heating_area,r.usable,r.remark,r.created_at,r.created_name,r.modified_at,r.modified_name,b.no as buildingNo,u.no as unitNo
        from r_room r,s_company comp,r_community comm,r_comm_area a,r_building b,r_unit u,s_unit_model m
        <if test="userId!=''and userId!=null">
            ,s_user_comm u
        </if>
        where r.comp_id=comp.id and r.comm_id=comm.id and r.comm_area_id=a.id and r.building_id=b.id and r.unit_id=u.id and u.model_id=m.id
         and r.is_delete='0'
        <if test="compName!=''and compName!=null">
            and r.comp_id = #{compName}
        </if>
        <if test="name!=''and name!=null">
            and r.name like CONCAT('%',#{name},'%')
        </if>
        <if test="commName!=''and commName!=null">
            and r.comm_id = #{commName}
        </if>
        <if test="commAreaName!=''and commAreaName!=null">
            and r.comm_area_id = #{commAreaName}
        </if>
        <if test="buildingName!=''and buildingName!=null">
            and r.building_id = #{buildingName}
        </if>
        <if test="unitName!=''and unitName!=null">
            and r.unit_id = #{unitName}
        </if>
        <if test="roomNo!=''and roomNo!=null">
            and r.room_no like CONCAT('%',#{roomNo},'%')
        </if>
        <if test="roomModel!=''and roomModel!=null">
            and r.room_model = #{roomModel}
        </if>
        <if test="usable!=''and usable!=null">
            and r.usable = #{usable}
        </if>
        <if test="userId!=''and userId!=null">
            and u.user_id=#{userId} and r.comm_id=u.comm_id
        </if>
         ORDER BY id DESC
        <if test="pageNo!=null and size!=null">
            limit #{pageNo},#{size}
        </if>
    </select>

    <select id="getListRoomNum" resultType="java.lang.Integer">
        select count(r.id)
        from r_room r,s_company comp,r_community comm,r_comm_area a,r_building b,r_unit u,s_unit_model m
        <if test="userId!=''and userId!=null">
            ,s_user_comm u
        </if>
        where r.comp_id=comp.id and r.comm_id=comm.id and r.comm_area_id=a.id and r.building_id=b.id and r.unit_id=u.id and u.model_id=m.id
        and r.is_delete='0'
        <if test="compName!=''and compName!=null">
            and r.comp_id = #{compName}
        </if>
        <if test="name!=''and name!=null">
            and r.name like CONCAT('%',#{name},'%')
        </if>
        <if test="commName!=''and commName!=null">
            and r.comm_id = #{commName}
        </if>
        <if test="commAreaName!=''and commAreaName!=null">
            and r.comm_area_id = #{commAreaName}
        </if>
        <if test="buildingName!=''and buildingName!=null">
            and r.building_id = #{buildingName}
        </if>
        <if test="unitName!=''and unitName!=null">
            and r.unit_id = #{unitName}
        </if>
        <if test="roomNo!=''and roomNo!=null">
            and r.room_no like CONCAT('%',#{roomNo},'%')
        </if>
        <if test="roomModel!=''and roomModel!=null">
            and r.room_model = #{roomModel}
        </if>
        <if test="usable!=''and usable!=null">
            and r.usable = #{usable}
        </if>
        <if test="userId!=''and userId!=null">
            and u.user_id=#{userId} and r.comm_id=u.comm_id
        </if>
        <if test="pageNo!=null and size!=null">
            limit #{pageNo},#{size}
        </if>
    </select>

    <update id="updateBatch">
        update r_room set is_delete='1',modified_at=CURRENT_TIME,modified_by=#{userId},modified_name=#{userName}
        <where>
            <foreach collection="ids" separator="or" item="item">
                id=#{item}
            </foreach>
        </where>
    </update>

    <update id="updateOwnerProperty">
        update r_owner_property set is_delete='1',modified_at=CURRENT_TIME,modified_by=#{userId},modified_name=#{userName}
        <where>
            property_type='房产' and
            <foreach collection="ids" separator="or" item="item">
                property_id=#{item}
            </foreach>
        </where>
    </update>

</mapper>
