<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.system.mapper.SUserCommMapper">
    <select id="listUserComm" resultType="java.util.Map">
        select id,name, case when id in(select comm_id from s_user_comm aa where aa.user_id=#{userId})
        then true else false end flag from r_community where comp_id = #{compId} and is_delete = 0
    </select>
    <select id="getUserComm" resultType="com.estate.sdzy.asstes.entity.RCommunity">
        select r.id,r.name from r_community r,s_user_comm u where u.user_id=#{userId} and r.comp_id=#{comId}
        and r.id=u.comm_id and r.is_delete='0'
    </select>
    <select id="listAllUserComm" resultType="java.util.Map" parameterType="java.lang.Long">
        select id,name from r_community where comp_id = #{compId}
    </select>
    <select id="listCommUser" parameterType="java.lang.Long" resultType="com.estate.sdzy.system.entity.SUserComm">
        select * from s_user_comm where user_id=#{userId}
    </select>
    <select id="commIds" resultType="java.lang.String" parameterType="java.lang.Long">
        select GROUP_CONCAT(comm_id) as ids from s_user_comm where user_id=#{id}
    </select>
</mapper>
