<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.mapper.SDictItemMapper">

    <select id="findDictItemList" resultType="com.estate.sdzy.entity.SDictItem" >
        select item.id,item.name,dict.name as dictName,item.dict_id,com.name as compName,item.created_at,item.created_name,item.order_by,item.modified_at,item.modified_name from
        s_dict_item item left join s_company com on item.comp_id=com.id left join s_dict dict on item.dict_id=dict.id where item.is_delete = 0
          and dict.is_delete = 0
        <if test="compId!=''and compId!=null">
         and item.comp_id in ('0',#{compId})
        </if>
        <if test="name!=''and name!=null">
            and item.name like CONCAT('%',#{name},'%')
        </if>
        <if test="dictId!='' and dictId!=null">
            and dict.name like CONCAT('%',#{dictId},'%')
        </if>
        ORDER BY dict_id DESC,order_by ASC
        <if test="pageNo!=null and size!=null">
            limit #{pageNo},#{size}
        </if>

    </select>

</mapper>
