<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.tariff.mapper.FAccountMapper">
    <select id="listAccount" resultType="com.estate.sdzy.tariff.entity.FAccount">
        select a.id,a.comp_id,a.type,a.comm_id,o.id as ownerId,comp.name as compName,comm.name as commName,o.name as ownerName,o.tel as ownerTel,
        a.name,a.no,a.fee,a.created_name,a.created_at,a.modified_at,a.modified_name,
        (select GROUP_CONCAT(DISTINCT r.name) from f_account_cost_item i,f_cost_rule r where i.rule_id=r.id and i.account_id=a.id) as ruleName
        from
        f_account a,s_company comp,r_community comm,r_owner o
        <if test="userId!='' and userId!=null">
            ,s_user_comm uc
        </if>
        where a.comp_id=comp.id and a.comm_id=comm.id  and a.owner_id=o.id
        <if test="map.compId != '' and map.compId != null">
            and a.comp_id = #{map.compId}
        </if>
        <if test="map.commId != '' and map.commId != null">
            and a.comm_id = #{map.commId}
        </if>
        <if test="map.ownerName!='' and map.ownerName!=null">
            and o.name like CONCAT('%',#{map.ownerName},'%')
        </if>
        <if test="map.propertyType=='房产' and map.propertyName!='' and map.propertyName!=null">
            and o.id in (select op.owner_id from r_owner_property op,v_room_roomNo r
            where op.property_id = r.id and r.roomNo like CONCAT('%',#{map.propertyName},'%') and op.property_type='房产')
        </if>
        <if test="map.propertyType=='停车位' and map.propertyName!='' and map.propertyName!=null">
            and o.id in (select op.owner_id from r_owner_property op,r_parking_space p
            where op.property_id = p.id and p.no like CONCAT('%',#{map.propertyName},'%') and op.property_type='停车位')
        </if>
        <if test="map.name!='' and map.name!=null">
            and a.name like CONCAT('%',#{map.name},'%')
        </if>
        <if test="map.no!='' and map.no!=null">
            and a.no like CONCAT('%',#{map.no},'%')
        </if>
        <if test="userId!='' and userId!=null">
            and uc.user_id=#{userId} and a.comm_id=uc.comm_id
        </if>
    </select>

    <select id="getAccount" resultType="com.estate.sdzy.tariff.entity.FAccount">
        select a.id,a.name,a.type,a.no,a.fee,a.remark,a.created_at,a.created_name
        from f_account a,f_account_cost_item i,r_owner o
        where a.id=i.account_id and a.owner_id=o.id and i.rule_id=#{ruleId} and o.id=#{ownerId}
    </select>

    <select id="getMaxNo" resultType="java.lang.Long">
        select max(no) from f_account
    </select>

    <select id="getRoom" resultType="java.util.Map">
        select id,roomNo as propertyName from v_room_roomNo where 1=1
        <if test="map.compId!='' and map.compId!=null">
         and comp_id = #{map.compId}
        </if>
        <if test="map.commId!='' and map.commId!=null">
         and comm_id = #{map.commId}
        </if>
         and id in (select property_id from r_owner_property where property_type='房产')
    </select>
    <select id="getParking" resultType="java.util.Map">
        select id,no as propertyName from r_parking_space where 1=1
        <if test="map.compId!='' and map.compId!=null">
            and comp_id = #{map.compId}
        </if>
        <if test="map.commId!='' and map.commId!=null">
            and comm_id = #{map.commId}
        </if>
        and id in (select property_id from r_owner_property where property_type='停车位')
    </select>

    <select id="getAccountItemByAccountId" resultType="com.estate.sdzy.tariff.entity.FAccountCostItem">
        select i.id,i.property_type,r.name,r.id as ruleId,i.property_id,
        (CASE
                WHEN i.property_type = '房产' THEN
                (
                SELECT
                    concat( b.no, '-', u.no, '-', room.room_no )
                FROM
                    r_room room,r_building b,r_unit u
                WHERE
                    room.id = i.property_id
                    AND room.building_id = b.id
                    AND room.unit_id = u.id
                ) ELSE ( SELECT p.no FROM r_parking_space p WHERE p.id = i.property_id )
            END) AS propertyName
        from f_account_cost_item i,f_cost_rule r where i.rule_id=r.id and account_id=#{accountId}
    </select>
</mapper>
