<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.tariff.mapper.FCostRuleMapper">
    <select id="listCostRule" resultType="com.estate.sdzy.tariff.entity.FCostRule">
        select aa.*,bb.type_name costTypeName,cc.name costItemName,dd.name compName
        from f_cost_rule aa ,f_cost_type bb,f_cost_item cc,s_company dd
        ${ew.customSqlSegment}
        and aa.comp_id = dd.id and aa.cost_type_id = bb.id and aa.cost_item_id = cc.id
    </select>

    <select id="listAllCostRule" resultType="com.estate.sdzy.tariff.entity.FCostRule">
        select r.id,r.name
            from f_cost_rule r
        <if test="userId!='' and userId!=null">
            ,s_user_comm comm
        </if>
        where r.is_delete = '0'
        <if test="userId!='' and userId!=null">
            and comm.user_id=#{userId} and r.comm_id = comm.comm_id
        </if>
    </select>

    <select id="getRuleByOwnerId" resultType="com.estate.sdzy.tariff.entity.FCostRule">
        select distinct r.id,r.name,rr.property_type,rr.property_id,
(CASE
		WHEN rr.property_type = '房产' THEN
		(
		SELECT
			concat( b.no, '-', u.no, '-', room.room_no )
		FROM
			r_room room,r_building b,r_unit u
		WHERE
			room.id = rr.property_id
			AND room.building_id = b.id
			AND room.unit_id = u.id
		) ELSE ( SELECT p.no FROM r_parking_space p WHERE p.id = rr.property_id )
	END) AS propertyName
        from f_cost_rule r,f_cost_rule_room rr,r_owner_property p,r_owner o
        where r.id=rr.cost_rule_id and rr.property_id = p.property_id and p.owner_id = o.id and o.id=#{ownerId}
    </select>
</mapper>
