<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.tariff.mapper.FFinanceBillRecordMapper">

    <select id="getFinanceBillRecord" resultType="com.estate.sdzy.tariff.entity.FFinanceBillRecord">
        select r.no,r.cost,br.created_at,br.created_name,rule.name
        from
        f_finance_bill_record br,f_finance_record r,f_bill b,f_cost_rule rule
        where br.finance_record_id = r.id and br.bill_id = b.id and b.cost_rule_id = rule.id and r.id=#{map.billId}
    </select>

    <select id="findMap" resultType="java.util.Map" parameterType="java.lang.Long">
         select aa.payment_method,aa.oper_type,aa.no,bb.* from f_finance_record aa ,f_finance_bill_record bb where bb.finance_record_id = aa.id and bb.bill_id = #{billId}
    </select>
</mapper>
