<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estate.sdzy.tariff.mapper.FFinanceBillRecordMapper">

    <select id="getFinanceBillRecord" resultType="com.estate.sdzy.tariff.entity.FFinanceBillRecord">
        select r.no,a.no as accountNo,r.cost,br.created_at,br.created_name,rule.name
        from
        f_finance_bill_record br,f_account a ,f_finance_record r,f_account_cost_item i,f_cost_rule rule
        where br.finance_record_id = r.id and r.account_id=a.id and a.id=i.account_id and i.rule_id = rule.id and a.id=${map.accountId}

    </select>
</mapper>
