<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>账单详情</title>
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
</head>
<body>
<table>
    <tr th:each="area:${list}" style="border: 1px solid #cccccc">
        <td  th:text="${area.bill_no}" hidden></td>
        <td  th:text="${area.costName}"></td>
        <td  th:text="${area.account_period}"></td>
        <td  th:text="${area.property_type}"></td>
        <td  th:text="${area.price}"></td>
        <td  th:text="${area.room}"></td>
    </tr>
</table>

<p>总金额：</p>
<p th:text="${sumPrice}"></p>

<input type="number" value="" id="price"/>
<button onclick="pay()">支付</button>
</body>
<script>
    function pay() {

        var listBillId = $("#listBillId").val();
        var compId = $("#compId").val();
        var commId = $("#commId").val();
        var price = $("#price").val();
        if(price == '' ||price == undefined || price == null){
            alert("付款金额不能为空！");
            return false;
        }
        location.href="/pay/create?payPrice="+price+"&compId=[[${comp_id}]]&commId=[[${comm_id}]]&listBillId=[[${listBillId}]]&openid=[[${openid}]]";
    }
</script>
</html>