<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script>
    function onBridgeReady(){
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest', {
                "appId":"wx90c1d75d5771fc90",     //公众号名称，由商户传入
                "timeStamp":"1600855815",         //时间戳，自1970年以来的秒数
                "nonceStr":"Z5kdv0hsk8YBy6DB", //随机串
                "package":"prepay_id=wx23181013549270171d2bda27c7da2a000",
                "signType":"MD5",         //微信签名方式：
                "paySign":"6CAFF5ABCA05FB7C587DD5D72CDD08ED" //微信签名
            },
            function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok" ){
                    // 使用以上方式判断前端返回,微信团队郑重提示：
                    //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。

                }
            });
    }
    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();
    }
</script>
</html>